@font-face {
    font-family: 'Raleway';
    src: url('polices/Raleway-Regular.eot');
    src: url('polices/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('polices/Raleway-Regular.woff2') format('woff2'),
        url('polices/Raleway-Regular.woff') format('woff'),
        url('polices/Raleway-Regular.ttf') format('truetype'),
        url('polices/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('polices/Raleway-Bold.eot');
    src: url('polices/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('polices/Raleway-Bold.woff2') format('woff2'),
        url('polices/Raleway-Bold.woff') format('woff'),
        url('polices/Raleway-Bold.ttf') format('truetype'),
        url('polices/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body
{
    font-family: 'Raleway';
    font-weight: normal;
}

li
{
    list-style: none;
}