/* police, normal*/
@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway-Regular.eot");
  src: url("polices/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("polices/Raleway-Regular.woff2") format("woff2"),
    url("polices/Raleway-Regular.woff") format("woff"),
    url("polices/Raleway-Regular.ttf") format("truetype"),
    url("polices/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* police, gras*/
@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway-Bold.eot");
  src: url("polices/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("polices/Raleway-Bold.woff2") format("woff2"),
    url("polices/Raleway-Bold.woff") format("woff"),
    url("polices/Raleway-Bold.ttf") format("truetype"),
    url("polices/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*icones*/
@font-face {
  font-family: "icomoon";
  src: url("icones/icomoon.eot?n65aqm");
  src: url("icones/icomoon.eot?n65aqm#iefix") format("embedded-opentype"),
    url("icones/icomoon.ttf?n65aqm") format("truetype"),
    url("icones/icomoon.woff?n65aqm") format("woff"),
    url("icones/icomoon.svg?n65aqm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.map_marker:before,
.money:before,
.child:before,
.heart:before,
.dog:before,
.infos:before,
.fleche:before,
.star:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map_marker:before {
  content: "m";
}

.money:before {
  content: "b";
  margin-right: 5px;
}

.child:before {
  content: "c";
  margin-right: 5px;
}

.heart:before {
  content: "h";
  margin-right: 5px;
}

.dog:before {
  content: "d";
  margin-right: 5px;
}

.infos:before {
  content: "i";
}

.fleche:before {
  content: "a";
}

.star:before {
  content: "s";
  font-size: x-small;
  font-weight: bold;
}

/*MISE EN PAGE PRINCIPALE (BODY ET BLOC PAGE)*/

/*Général*/
body {
  font-family: "Raleway";
  font-weight: normal;
  margin: 0%;
}

.conteneur {
  max-width: 1250px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*Titres*/
h1 {
  font-size: x-large;
  margin: 0px;
}

h2 {
  font-size: large;
  font-style: normal;
}

h3 {
  font-size: medium;
  font-style: normal;
}

/*Texte*/
em {
  font-weight: bold;
  font-style: normal;
}

main p {
  font-size: small;
}

ul {
  padding: 0%;
  margin: 0%;
  list-style: none;
}

/*Liens*/
a {
  text-decoration: none;
  color: black;
}

footer a {
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*HEADER*/

#entete {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

#entete img {
  margin-right: auto;
}

#menu ul {
  display: flex;
  font-style: normal;
}

#menu li {
  display: flex;
  justify-content: center;
}

#menu a {
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu_hebergements,
.menu_inscrire {
  color: #0065fc;
}

.menu_inscrire {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

header p {
  margin: 5px;
}

/*FORMULAIRE*/
/*toute la ligne*/
#recherche {
  display: flex;
  justify-content: space-between;
  /*align-items: stretch;*/
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  border: 1px #f2f2f2 solid;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  max-width: 350px;
  /*background-color: aquamarine;*/
}

/*Conteneur icone et barre de recherche*/
#formulaire {
  display: flex;
  flex-wrap: nowrap;
  /*align-items: center;*/
  /*height: 100%;*/
  box-sizing: border-box;
}

/*A RETRAVAILLER*/
/*icone map*/
.map_marker:before {
  font-size: large;
  background-color: #f2f2f2;
  padding: 17px;
}

/*barre de recherche du formulaire*/
#lieu {
  font-size: medium;
  font-weight: bold;
  color: black;
  padding-left: 5%;
  border: none;
  width: 180px;
  overflow: hidden;
}

/*Bouton rechercher*/
.rechercher {
  color: white;
  background-color: #0065fc;
  font-size: medium;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
}

/*FILTRES*/

/*Contient tous les éléments "filtre" de la ligne*/
#filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Titre*/
.filtres_titre {
  justify-content: center;
  margin-right: 20px;
}

/*Bouton entier*/
.filtre {
  height: 30px;
  padding: 5px 10px 5px 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 2px #f2f2f2 solid;
  border-radius: 20px;
  border-left: none;
  display: flex;
  align-items: center;
}

.filtre h3 {
  margin: 5px;
}

/*icones*/
.money:before,
.child:before,
.heart:before,
.dog:before {
  width: 40px;
  height: 40px;
  color: #0065fc;
  background-color: #deebff;
  border: 2px #deebff solid;
  border-radius: 20px;
}

/*INFOS*/
.infos {
  display: flex;
  align-items: center;
  margin: 30px 0px 30px 0px;
}

.infos:before {
  font-size: smaller;
  color: #0065fc;
  border: 2px #f2f2f2 solid;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/*MAIN*/

/*HEBERGMENTS*/

/*Contient les deux sections-conteneurs "hébergements à Marseille" et "les plus populaires"*/
.hebergements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Conteneurs "Hébergemenst à Marseille" et "Les plus populaires"*/
#hebergements_m,
#hebergements_p {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-bottom: 30px;
}

/*Espacement entre les deux blocs hébergements, conteneur hébergements à marseille*/
#hebergements_m {
  width: 60%;
  padding-bottom: 30px;
  margin-right: 35px;
  justify-content: space-between;
  flex-grow: 2;
}

/*taille du bloc hébergements populaires */
#hebergements_p {
  flex-grow: 1;
}

/*HEBERGEMENTS MARSEILLE*/

/*Section qui contient les articles hébergements à Marseille*/
.articles_h {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*Caractéristiques d'un bouton*/
.article_h {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  height: 180px;
  margin-bottom: 20px;
  border: 5px white solid;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 10px #cecece;
}

/*Bande blanche du bas pour la description des images*/
.description_h {
  height: 60px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Formatage du texte dans la description pour les hébergements à Marseille+les plus populaires*/
.description_h h3,
.description_h p,
.description_p h3,
.description_p p {
  margin: 1px;
  line-height: 20px;
}

/*Mise en page/positionnement des images dans les boutons*/
.image_h {
  background-size: cover;
  background-position: center;
  height: 110px;
}

/*Les différentes images de la section hébergements à Marseille*/
.cannebiere {
  background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.port {
  background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.mouettes {
  background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.mer {
  background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.panier {
  background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.amina {
  background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

/*HEBERGEMENTS POPULAIRES*/
#hebergements_p header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/*Conteneur des articles hébergements populaires*/
.articles_p {
  display: flex;
  flex-direction: column;
}

#hebergements_p a {
  width: 100%;
}

/*Caractéristiques d'un article*/
.article_p {
  height: 125px;
  margin-bottom: 30px;
  border: 5px white solid;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  display: flex;
  box-shadow: 1px 1px 10px #cecece;
}

/*Bande blanche sur le côté pour la description des images*/
.description_p {
  width: 60%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
}

/*Mise en page/positionnement des images dans les boutons*/
.image_p {
  background-size: cover;
  background-position: center;
  width: 40%;
}

/*Les différentes images des hébergements populaires*/
.soleilmatin {
  background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.eau {
  background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

.bleublanc {
  background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

/*ETOILES*/
/*Conteneur des étoiles*/
.etoiles {
  display: flex;
  height: 20px;
  align-items: center;
}

.blue {
  color: #0065fc;
}

.white {
  color: #f2f2f2;
}

/*ACTIVITES MARSEILLE*/

/*
#activites_m {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  align-content:space-between;
  height: 400px;
}

.article_a {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 10px #cecece;
  border-radius: 20px;
  overflow: hidden;
  min-width: 280px;
  /*width: 250px;*/
/*}
*/

#activites_m {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  align-content: space-between;
  max-height: 400px;
  box-sizing: border-box;
}

.article_a {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 10px #cecece;
  border-radius: 20px;
  overflow: hidden;
  min-width: 280px;
}

.image_a {
  background-size: cover;
  background-position: center;
  min-height: 60px;
  flex: 1;
}

.vieux_port article,
.parc_calanques article {
  height: 400px;
}

.fort_pomegues article {
  height: 200px;
}

.iles_frioul article {
  height: 150px;
}

.notredame_garde article {
  height: 200px;
}

.parc_longchamp article {
  height: 100px;
}

.description_a {
  padding: 5px;
  font-size: medium;
  height: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.vieuxport {
  background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.pomegues {
  background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.frioul {
  background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.calanques {
  background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.garde {
  background-image: url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.longchamp {
  background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

/*FOOTER*/
/*Trouver comment faire pour que le background face toute la page*/
#footer {
  background-color: #f2f2f2;
  min-width: 100%;
}

#footer .conteneur {
  display: flex;
  justify-content: space-between;
}

.nav_footer {
  display: flex;
  flex-direction: column;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1250px) {
  /*GENERAL*/
  .conteneur {
    width: auto;
  }

  /*HEBERGEMENTS*/
  /*Section hebergements à Marseille*/
  #hebergements_m {
    max-width: 50%;
  }

  #hebergements_m a {
    width: 47%;
  }

  #hebergements_m article {
    min-width: 203px;
  }

  /*Section hébergements populaires*/
  #hebergements_p {
    align-items: center;
  }

  /*ACTIVITES*/
  #activites_m {
    max-height: 1000px;
    flex-direction: row;
    /*justify-content: space-around;*/
  }

  #activites_m a {
    width: 30%;
  }

  #activites_m article {
    min-height: 200px;
    height: auto;
    min-width: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1030px) {
  #hebergements_m {
    max-width: 100%;
    width: 100%;
    margin-right: 0px;
    box-sizing: border-box;
  }

  #hebergements_p {
    order: -1;
  
    flex-wrap: wrap;
  }

  .articles_p {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #hebergements_p a {
    width: 47%;
  }
}

@media screen and (max-width: 950px) {
  .conteneur {
    width: auto;
  }

  /*
  #recherche {
    max-width: 290px;
  }*/

  /*FILTRES*/
  .filtres_titre {
    width: 100%;
  }

  /*HEBERGEMENTS*/

  #hebergements {
    flex-direction: column;
  }

  #hebergements_p {
    align-items: center;
  }

  /*ACTIVITES*/
  #activites_m {
    max-height: none;
  }

  #activites_m a {
    width: 47%;
  }

}

@media screen and (max-width: 620px) {
  /*ENTETE*/
  /*Trouver solution...*/
 
  #entete {
    flex-wrap: wrap;
  }

  .logo {
    width: 50%;
    order: 1;
  }

  #menu {
    width: 100%;
    order: 3;
  }
  
  /*
  #menu ul {
    justify-content: space-around;
}
*/

  #menu li {
  width: 50%;
  }

  #menu a {
    width: 100%;
    text-align: center;
    margin: 0px;
  }

  .menu_inscrire {
    order: 2;
    width: 50%;
  }

  .menu_hebergements {
    border-bottom: 2px #0065fc solid;
  }

  .menu_activites {
    border-bottom: 2px #f2f2f2 solid;
  }


/*
  .menu_activites {
    justify-self: right;
    align-self: flex-end;
    text-align: center;
  }

  /*FILTRES*/
  .filtre {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  /*HEBERGEMENTS*/
  /*Suppression de la marge entre le bouton et son conteneur*/
  #hebergements_m,
  #hebergements_p {
    padding-left: 0px;
    padding-right: 0px;
  }

  #hebergements_m {
    background-color: transparent;
  }


  /*TAILLES DES BOUTONS*/
  /*A modifier*/
  
  /*
  .article_h {
    width: 100%;
    min-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    min-height: auto;
  }
  */

  #hebergements_m a {
    width: 100%;
  }

  .articles_p {
    flex-direction: column;
  }

  #hebergements_p a {
    width: 100%;
  }

  .article_p {
    max-width: none;
    min-width: auto;
    box-sizing: border-box;
  }

  #activites_m a {
    width: 100%;
  }

  .article_a {
    width: 100%;
  }

  /*FOOTER*/
  /*Menu du footer en colonnes*/
  .nav {
    flex-direction: column;
  }

  /*Séparation entre les différentes nav*/
  .nav_footer {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  
  /*FORMULAIRE*/
  #recherche {
    width: 100%;
  }

  .rechercher {
    width: 50px;
    border-radius: 15px;
  }

  .rechercher p {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  #lieu {
    max-width: 120px;
  }
}
