/* police, normal*/
@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway-Regular.eot");
  src: url("polices/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("polices/Raleway-Regular.woff2") format("woff2"),
    url("polices/Raleway-Regular.woff") format("woff"),
    url("polices/Raleway-Regular.ttf") format("truetype"),
    url("polices/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* police, gras*/
@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway-Bold.eot");
  src: url("polices/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("polices/Raleway-Bold.woff2") format("woff2"),
    url("polices/Raleway-Bold.woff") format("woff"),
    url("polices/Raleway-Bold.ttf") format("truetype"),
    url("polices/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*icones*/
@font-face {
  font-family: "icomoon";
  src: url("icones/icomoon.eot?n65aqm");
  src: url("icones/icomoon.eot?n65aqm#iefix") format("embedded-opentype"),
    url("icones/icomoon.ttf?n65aqm") format("truetype"),
    url("icones/icomoon.woff?n65aqm") format("woff"),
    url("icones/icomoon.svg?n65aqm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.map_marker:before,
.money:before,
.child:before,
.heart:before,
.dog:before,
.infos:before,
.fleche:before,
.star:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map_marker:before {
  content: "m";
}

.money:before {
  content: "b";
  margin-right: 5px;
}

.child:before {
  content: "c";
  margin-right: 5px;
}

.heart:before {
  content: "h";
  margin-right: 5px;
}

.dog:before {
  content: "d";
  margin-right: 5px;
}

.infos:before {
  content: "i";
  margin-right: 5px;
}

.fleche:before {
  content: "a";
}

.star:before {
  content: "s";
  font-size: x-small;
  /*margin: 0%;
  padding-top: 0%;*/
}


/*MISE EN PAGE PRINCIPALE (BODY ET BLOC PAGE)*/

body {
  font-family: "Raleway";
  font-weight: normal;
  margin: 0%;
}

.conteneur {
  width: 1000px;
  margin: auto;
  padding: 10px;
  /*Padding à revoir*/
}

h1 {
  font-size: large;
}

h2 {
  font-size: medium;
  font-style: normal;
}

em {
  font-weight: bold;
  font-style: normal;
}

main p {
  font-size: small;
}

a {
  text-decoration: none;
  color: black;
}

footer a {
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  padding: 0%;
  margin: 0%;
  list-style: none;
}

li {
  /*list-style: none;*/

}

/*HEADER*/

#entete {
  display: flex;
  justify-content: space-between;
}

#menu {
  /*Revoir la taille et les marges*/
  width: 30%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-size: small;
}

/*Conteneur du conteneur COMPRENDRE QUOI FAIRE AVEC CA*/
/*#formulaire {
  font-size: medium;
  font-weight: bold;
  border: 2px black solid;
}*/

/*Conteneur des éléments du formulaire MAIS n'agit pas sur les caracteres de la barre de recherche*/
#formulaire div {
  /*font-size: small;*/
  background: yellow;
  width: 40%;
  display: flex; 
  flex-wrap: nowrap;
  align-items: center;
}

/*icone map*/
.map_marker:before {
  background-color: #f2f2f2;
  /*height: auto;*/
  padding: 5px 5px 5px 5px;
  /*height: auto;*/
  /*box-sizing: border-box;*/
}

/*barre de recherche du formulaire*/
#lieu {
  height: auto;
  text-align: left;
  font-size: medium;
  font-weight: bold;
  color: black;
  padding: 3px 3px 3px 3px;
  border: 1px #f2f2f2 solid;
}

/*Bouton rechercher*/
.rechercher {
  color: white;
  background-color: #0065fc;
  padding: 3px 10px 3px 10px;
  border-radius: 0px 10px 10px 0px;
  height: auto;
}


/*Contient tous les éléments "filtre" de la ligne*/
#filtres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  height: auto;
  padding: 0px;
  font-weight: bold;
  /*border: 1px black solid;*/
}

.filtres {
  /*margin: ;*/
  justify-content: center;
}

.filtre {
  height: auto;
  text-align: left;
  padding: 5px 10px 5px 5px;
  border: 2px #f2f2f2 solid;
  border-radius: 20px;
}

.money:before,
.child:before,
.heart:before,
.dog:before {
  width: auto;
  height: auto;
  padding: auto;
  color: #0065fc;
  background-color: #deebff;
  border: 2px #deebff solid;
  border-radius: 10px;
}

.infos:before {
  font-size: smaller;
  color: #0065fc;
  padding: 3px 6px 3px 8px;
  border: 2px #f2f2f2 solid;
  border-radius: 10px;
}

/*MAIN*/

/*HEBERGMENTS*/

/*Contient les deux sections-conteneurs "hébergements à Marseille" et "les plus populaires"*/
#hebergements {
  display: flex;
  justify-content: space-between;
}

/*Conteneurs "Hébergemenst à Marseille" et "Les plus populaires"*/
#hebergements_m,
#hebergements_p {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 30px;
}

/*Espacement entre les deux blocs hébergements, conteneur hébergements à marseille
POUR LA TAILLE:voir comment faire en fonction du bloc principal*/
#hebergements_m {
  width: 60%;
  margin-right: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*taille du bloc hébergements populaires 
(en fonction du bloc hébergements_m, dans la section hebergements)*/
#hebergements_p {
  flex-grow: 1;
}

/*HEBERGEMENTS MARSEILLE*/

/*Contient juste les boutons hébergements à Marseille*/
.hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: auto;
  margin-bottom: 20px;
}

/*TROUVER SOLUTION POUR L'ESPACEMENT DES BOUTONS*/
/*Caractéristiques d'un bouton*/
.bouton_h {
  width: 30%;
  height: 140px;
  margin: 0px 5px 10px 5px;
  border: 3px white solid;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  /*box-shadow: 6px 6px 6px #f2f2f2;*/
}

/*Organisation à l'intérieur des boutons*/
.article_h {
  display: flex;
  flex-direction: column;
}

/*Bande blanche du bas pour la description des images*/
.description_h {
  /*height: 40%;*/
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Conteneur des étoiles*/
.etoiles {
  display: flex;
}

.star {
  line-height: 100%;
  /*border: 1px black solid;*/
}

.blue {
  color: #0065fc;
}

.white {
  color: #f2f2f2;
}

/*Formatage du texte dans la description pour les hébergements à Marseille+les plus populaires*/
.description_h h2, .description_h p, .description_h_p h2, .description_h_p p {
  /*border: 1px black solid;*/
  margin: 0px;
  font-size: small;
}

/*Mise en page/positionnement des images dans les boutons*/
.image_cannebiere, .image_port, .image_mouettes, .image_mer, .image_panier, .image_amina {
  background-size: cover;
  background-position: center;
  height: 80px;
}

/*Les différentes images de la section hébergements à Marseille*/
.image_cannebiere {
  background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.image_port {
  background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.image_mouettes {
  background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.image_mer {
  background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.image_panier {
  background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.image_amina {
  background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

/*HEBERGEMENTS POPULAIRES*/
#hebergements_p header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Caractéristiques d'un article*/
.article_h_p {
  height: 100px;;
  margin-bottom: 20px;
  border: 3px white solid;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  display: flex;
  /*box-shadow: 6px 6px 6px #f2f2f2;*/
}

.bouton_h_p {
  /*width: 100%;*/
}

/*Bande blanche sur le côté pour la description des images*/
.description_h_p {
  width: 60%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

/*Mise en page/positionnement des images dans les boutons*/
.image_soleilmatin, .image_eau, .image_bleublanc {
  background-size: cover;
  background-position: center;
  width: 40%;
}

/*Les différentes images des hébergements populaires*/
.image_soleilmatin {
  background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.image_eau {
  background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
} 

.image_bleublanc {
  background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

/*ACTIVITES MARSEILLE*/
#boutons_a {
  margin-right: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
}

.image_vieuxport, .image_pomegues, .image_frioul, .image_calanques, .image_garde, .image_longchamp {
  background-size: cover;
  background-position: center;
  height: 60%;
}

.description_a {
  padding: 5px;
  font-size: medium;
}

.image_vieuxport {
  background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.image_pomegues {
  background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.image_frioul {
  background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.image_calanques {
  background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.image_garde {
  background-image: url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.image_longchamp {
  background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

/*FOOTER*/
/*Trouver comment faire pour que le background face toute la page*/
#footer {
  background-color: #f2f2f2;
}

#footer .conteneur {
  display: flex;
  justify-content: space-between;
}

.nav_footer {
  display: flex;
  flex-direction: column;
}